  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

main {
    margin-left: 5rem;
    
    padding: 1rem;
}
  
  .ch-navbar {
    position: fixed;
    background-color: var(--chbg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    z-index:30;
  }
  .ch-navbar::-webkit-scrollbar {
    width: 0.25rem;
    height: 0rem;
  }
  .ch-navbar::-webkit-scrollbar-track {
    background: #1e1e24;
    height: 0;
  }
  .ch-navbar-ch-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .ch-nav-item {
    width: 100%;
  }
  
  .ch-nav-item:last-child {
    margin-top: auto;
  }
  
  .ch-nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--chtext-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .ch-nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--chbg-secondary);
    color: var(--chtext-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .ch-nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .fa-primary {
    color: #03d3fc;
  }
  
  .fa-secondary {
    color: #0373fc;
  }
  .active{
      border-bottom: 2px;
  }
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--chtext-secondary);
    background: var(--chbg-secondary);
    font-size: 1.0rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .ch-navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .ch-navbar {
      /*bottom: 0;*/
      top:0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .ch-navbar-ch-nav {
      flex-direction: row;
    }
  
    .ch-nav-link {
      justify-content: center;
    }
    main{
        margin-top: 5rem;
        margin-left: 0;
    }
    .link-text {
        flex-direction: stretch;
      }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .ch-navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .ch-navbar:hover {
      width: 16rem;
    }
  
    .ch-navbar:hover .link-text {
      display: inline;
    }
  
    .ch-navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .ch-navbar:hover .logo-text
    {
      left: 0px;
    }
    
  }
  
  .dark {
    --chtext-primary: #b6b6b6;
    --chtext-secondary: #ececec;
    --chbg-primary: #23232e;
    --chbg-secondary: #141418;
  }
  
  .light {
    --chtext-primary: #1f1f1f;
    --chtext-secondary: #000000;
    --chbg-primary: #ffffff;
    --chbg-secondary: #e4e4e4;
  }
  
  .solar {
    --chtext-primary: #576e75;
    --chtext-secondary: #35535c;
    --chbg-primary: #fdf6e3;
    --chbg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }